* {
	box-sizing: border-box;
}

body {
	display: flex;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.icon {
	display: inline-block;
	margin-right: 10px;
}

aside.app-menu {
	width: 300px;
	background-color: #f8f8f8;
}

main.app-content {
	overflow: auto;
}

aside.app-menu,
main.app-content {
	padding: 30px;
}

aside.app-menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	transition: all .3s ease;
}

aside.app-menu .add-button {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	background-color: #c0c0c0;
	padding: 10px;
	border-radius: 4px;
}

aside.app-menu .add-button:hover,
aside.app-menu .add-button:focus {
	background-color: #cccccc;
}

aside.app-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

aside.app-menu ul li {
	background: transparent none no-repeat left center;
	background-size: 24px;
	padding: 10px;
	display: flex;
}

aside.app-menu ul li a {
	display: flex;
	align-items: center;
}

aside.app-menu ul li a:hover,
aside.app-menu ul li a:focus {
	color: #999999;
}

main.app-content h1:first-child {
	margin-top: 0;
}