.svg-add-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-collection-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-heart-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-profile-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-star-icon-dims {
	width: 24px;
	height: 24px;
}

